/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #E8E1D9 !important;
}

body .container {
  width: 100%;
  text-align: center;
}

#filter-buttons button {
  border-radius: 3px;
  background: #fff;
  border-color: transparent;
  color: black;
  font-weight: 500;
}



#filter-buttons button.active {
  color:black;
  background: #D2CABB;
}
#filterable-cards{
  margin-left: 11px;
  
}
#filterable-cards .card {
  width: 263px;
  border: 2px solid transparent;
  
}

#filterable-cards .card.hide {
  display: none;
}

@media (max-width: 600px) {
  #filterable-cards {
    text-align: center;
  }

  #filterable-cards .card {
    width: calc(100% / 2 - 10px);
  }
}
img{
  width:210px;
  height: 230px;
  transition: transform 0.6s ;
  cursor: pointer;
  margin:auto;
  padding-top: 20px;

}
img:hover{
    transform: scale(1.1);
}
.boo{
  background: #E8E1D9;
  border:transparent solid 2px;
  margin-left: 5px;
  padding: 10px 40px;
  cursor: pointer;
  
}
.boo:hover{
  background: #F0EFED;
}
.boo a{
  text-decoration: none;
  color: black;
  font-weight: 400;
}
.boo i{
  color: black;
  padding-left: 5px;
  padding-top: 5px;
}
h5{
  text-align: center;
}
p{
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
