<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='admin.css')}}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Admin Dashboard</h2>
            <ul>
                <li><a href="/register_admin">Dashboard</a></li>
                <li><a href="/admin_user">Manage Users</a></li>
                <li><a href="/admin_seller">Manage Sellers</a></li>
                <li><a href="/admin_courses">DELETE Courses</a></li>
                <li><a href="/admin_add_course">ADD Courses</a></li>
                <li><a href="/admin_order">Manage Orders</a></li>
                <li><a href="/admin_product">Manage Products</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Welcome to the Admin Dashboard</h1>
            <p>Select an option from the sidebar to manage different aspects of the application.</p>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
