<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Responsive Registration Form</title>
  <meta name="viewport" content="width=device-width,
      initial-scale=1.0" />
  <link rel="stylesheet" href="{{url_for('static', filename='style_seller.css')}}" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
  <div class="container">
    <h1 class="form-title">Registration</h1>
    <form action="#" id="registerForm">
      <div class="main-user-info">
        <div class="user-input-box">
          <label for="firstName">First name</label>
          <input type="text" id="firstame" name="first_name" placeholder="Enter First Name" />
        </div>
        <div class="user-input-box">
          <label for="lastname">last Name</label>
          <input type="text" id="lastname" name="last_name" placeholder="Enter Last Name" />
        </div>
        <div class="user-input-box">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Enter Username" />
        </div>
        <div class="user-input-box">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter Email" />
        </div>
        <div class="user-input-box">
          <label for="dateofbirth">Date of Birth</label>
          <input type="date" id="dateofbirth" name="birthday" placeholder="Enter BirthDate" />
        </div>
        <div class="user-input-box">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" id="phoneNumber" name="phone" placeholder="Enter Phone Number" />
        </div>
        <div class="user-input-box">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter Password" />
        </div>
        <div class="user-input-box">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" />
        </div>
        <div class="user-input-box">
          <label for="national_id">National ID</label>
          <input type="text" id="national_id" name="national_id" placeholder="Enter National ID" />
        </div>
        <div class="user-input-box">
          <label for="brand_name">Brand Name</label>
          <input type="text" id="brand_name" name="brand_name" placeholder="Enter Brand Name" />
        </div>
        <div class="user-input-box">
          <label for="balance_no">Balance Number</label>
          <input type="text" id="bank_acc" name="bank_acc" placeholder="Enter Balnce Number" />
        </div>
        <div class="user-input-box">
          <label for="city">City</label>
          <input type="text" id="city" name="city" placeholder="Enter City" />
        </div>
        <div class="user-input-box">
          <label for="country">country</label>
          <input type="text" id="country" name="country" placeholder="Enter Country" />
        </div>
        <div class="user-input-box">
          <label for="postal_code">Zip Code</label>
          <input type="text" id="postal_code" name="postal_code" placeholder="Enter postal_code" />
        </div>
      </div>

      <div class="form-submit-btn">
        <button id="submitBtn" type="submit">Register</button>
      </div>
      <div id="error"></div>
    </form>
  </div>
  <script>
    $(document).ready(function () {
      $('#submitBtn').click(function (e) {
        e.preventDefault();
        let user_data = $("#registerForm").serializeArray();

        console.log(user_data)
        // console.log(payment)
        let dataPayload = {};
        user_data.forEach(function (item) {
          dataPayload[item.name] = item.value;
        });

        $.ajax({
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          url: '/register_seller',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(dataPayload),
          success: function (response) {
            console.log(response)
            console.log('Seller Created successfully:', response);
            // window.location.href = '/login';
          },
          // error: function (response) {
          //   console.log(response)
          //   $("#error").text(response.responseJSON["message"])
          // }
        });
      });
    });
  </script>
</body>

</html>