<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subscribtion</title>
    <link rel="stylesheet" href="{{url_for('static', filename='subscribtion.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <!-- <header>
        <a href="/" class="logo" style="margin-right: 100px;">
            <img src="{{ url_for('static', filename='/images/heyy.png') }}" alt="Logo"> Ayadena
        </a>
        <ul class="navlist">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/about_us">About</a></li>
            <li><a href="/category">Shop</a></li>
            <div class="nav-right">
                <a href="#"><i class='bx bx-user'></i></a>
                <a href="/add_to_cart"><i class='bx bxs-cart-alt'></i></a>
            </div>
        </ul>
    </header> -->
    <div class="pricing-plan-container" style="height: 600px; margin-top: 10px;">
        <section class="pricing-plan pricing-plan-highlighted">
            <div class="pricing-plan-header">
                <h1 class="pricing-plan-title">Monthly</h1>
                <h2 class="pricing-plan-summary">Your life is your message to the world, Make it inspiring</h2>
            </div>
            <div class="pricing-plan-description" style="height: 300px;">
                <ul class="pricing-plan-list" style="margin-top: 15px;">
                    <li class="pricing-plan-feature">Certificates</li>
                    <li class="pricing-plan-feature">Full courses</li>
                    <li class="pricing-plan-feature">Full modules</li>
                    <li class="pricing-plan-feature">Live projects</li>
                    <li class="pricing-plan-feature">24/7 SUPPORT</li>
                </ul>
                <div class="pricing-plan-actions" style="margin-top: 23px;">
                    <p class="pricing-plan-cost">100 L.E</p>
                    <p class="pricing-plan-text">per month</p>
                    <a href="/payment_plans" class="pricing-plan-button">Subscripe</a>

                </div>
            </div>

        </section>

        <section class="pricing-plan pricing-plan-highlighted" style="height: 480px;">
            <div class="pricing-plan-header">
                <h1 class="pricing-plan-title">Semi Annual</h1>
                <h2 class="pricing-plan-summary">Your life is your message to the world, Make it inspiring</h2>
            </div>
            <div class="pricing-plan-description" style=" height: 380px;">
                <ul class="pricing-plan-list" style="margin-top: 20px; font-size: 19px;">
                    <li class="pricing-plan-feature">Certificates</li>
                    <li class="pricing-plan-feature">Full courses</li>
                    <li class="pricing-plan-feature">Full modules</li>
                    <li class="pricing-plan-feature">Live projects</li>
                    <li class="pricing-plan-feature">24/7 SUPPORT</li>
                </ul>
                <div class="pricing-plan-actions" style="margin-top: 18px;">
                    <p class="pricing-plan-cost" style="margin-top: 30px;">540 L.E</p>
                    <p class="pricing-plan-text">6 monthes</p>
                    <a href="/payment_plans" class="pricing-plan-button">Subscripe</a>

                </div>
            </div>

        </section>

        <section class="pricing-plan pricing-plan-highlighted" style="height: 430px;">
            <div class="pricing-plan-header">
                <h1 class="pricing-plan-title">Annualy</h1>
                <h2 class="pricing-plan-summary">Your life is your message to the world, Make it inspiring</h2>
            </div>
            <div class="pricing-plan-description" style="height: 300px;">
                <ul class="pricing-plan-list" style="margin-top: 20px;">
                    <li class="pricing-plan-feature">Certificates</li>
                    <li class="pricing-plan-feature">Full courses</li>
                    <li class="pricing-plan-feature">Full modules</li>
                    <li class="pricing-plan-feature">Live projects</li>
                    <li class="pricing-plan-feature">24/7 SUPPORT</li>
                </ul>
                <div class="pricing-plan-actions" style="margin-top: 20px;">
                    <p class="pricing-plan-cost">960 L.E</p>
                    <p class="pricing-plan-text">12 monthes</p>
                    <a href="/payment_plans" class="pricing-plan-button">Subscripe</a>

                </div>
            </div>

        </section>

    </div>
</body>

</html>